{% extends "main.html" %}
{% block content %}
<div id="mylegend">

</div>
<div id="google">
<fieldset>
<legend class="legend">Google</legend>
<ul>
{% for key,value in google.iteritems() %}
<li><a href="{{ value }}">{{ key }}</a></li>
{% endfor %}
</ul>
</fieldset>
</div>

<div id="social">
<fieldset>
<legend class="legend">Social</legend>
<ul>
{% for key,value in social.iteritems() | sort %}
 <li><a href="{{ value }}">{{ key }}</a></li>
{% endfor %}
</ul>
</fieldset>
</div>

<div id="fun">
<fieldset>
<legend class="legend">Fun</legend>
<ul>
{% for key,value in fun.items() %}
<li><a href="{{ value }}">{{ key }}</a></li>
{% endfor %}
</ul>
</fieldset>
</div>

<div id="testJson">
<fieldset>
<legend class="legend">TestJson</legend>
<ul>
{% for key,value in testJson.items() %}
<li><a href="{{ value }}">{{ key }}</a></li>
{% endfor %}
</ul>
</fieldset>
</div>


{% endblock %}
